
/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul, aside, figure, figcaption {
		margin:0;
		padding: 0;
		border: 0;
		font-family: Arial, sans-serif;
}

body {
  font-size: 14px;
  background-color: #F7CACC;
}

img{
	width: 100%;
	display: block;
}

/* Style rules for mobile viewport */

/* Style rules to show mobile class and hide tab-desk class */
.mobile {
	display: block;
}

.tab-desk {
	display: none;
}

/* Style rules for header area*/
.mobile h1 {
  padding: 2%;
  text-align: center;
  font-family: Arial, sans-serif;
}

.mobile h3 {
  padding: 2%;
  text-align: center;
  font-family: sans-serif;
}

/* Style rules for navigation area */
nav {
	background-color: #F7CACC;
}

nav ul {
	list-style-type: none;
	text-align: center;
}


nav li{
	display: block;
	font-size: 1.25em;
	font-family: Geneva, Arial, sans-serif;
	font-weight: bold;
	border-top: 0.5px solid #f6eee4;
}

nav li a {
	display: block;
	color: #000;
	padding: 0.5em 2em;
	text-decoration: underline;
}

/* Style rules for main content */
main{
	padding: 2%;
	font-family: Arial, serif;
}

main p {
	font-size: 1.25em;
	font-family: Arial, sans-serif;
	text-align: center;
}
main h1 {
	text-align: center;
}
main h2 {
	padding-top: 2%;
	text-align: center;
}
main h3 {
	padding-top: 2%;
	text-align: center;
}

main ul {
	list-style: square;
}

/* Style rules for footer content */
footer {
	font-size: 0.85em;
	text-align: center;
	
	
	padding: 1% 0%;
}

footer a{
	color: #000;
	text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {	

/* Tablet Viewport: Show tab-desk class, hide mobile class */
	.tab-desk {
		display: block;
	}

	.mobile, .mobile-nav {
		display: none;
	}
	.tab-desk h1 {
  padding: 2%;
  text-align: center;
  font-family: Arial, sans-serif;
}

.tab-desk h3 {
  padding: 2%;
  text-align: center;
  font-family: sans-serif;
}

/* Tablet Viewport: Style rules for nav area */
	nav li {
		border-top: none;
		display: inline-block;
		font-size: 1.25em;
		
	}

	nav li a {
		padding: 0.5em;
		text-decoration: underline;
		color: #000;
	}
	
}
	
	/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px), print {

	body {
		background: #F7CACC;
	}

	#wrapper {
		width: 1920px;
		margin: 0 auto;
	}

	main {
		background-color: #F7CACC;
	}
}
	
	/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px),print {

/* Desktop Viewport: Show desktop class, hide mobile-tablet class */
	.desktop {
		display: block;
	}

	.mobile-tablet {
		display: none;
	}

	nav li {
		font-size: 1.5em;
	}

	nav li a {
		padding: 0.5em 1.5em;
	}

	nav li a:hover {
		
	}
}